<ion-header>
  <ion-button (click)="dismissModal()"> Cerrar
  </ion-button>
</ion-header>
<ion-content>
  <ion-card class="card" color="light">
    <ion-card-title> 1.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Un bloqueador solar no debe usarse como una forma de prolongar el tiempo que pasa exponiéndose a la luz del sol.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title> 2.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Factor de protección solar (SPF): El número del factor de protección solar es el nivel de protección que el bloqueador solar provee contra los rayos UVB, los cuales son la causa principal de quemaduras solares.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title> 3.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Cuando seleccione un bloqueador solar, asegúrese de leer la etiqueta. Se recomienda el uso de productos con protección de espectro amplio (contra los rayos UVA y UVB) y con un factor de protección solar (SPF) con valor de 30 o superior.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title> 4.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Los bloqueadores con un SPF de 15 filtran aproximadamente 93% de los rayos UVB, mientras que los bloqueadores con un SPF de 30 filtran alrededor de 97%. Asimismo, los bloqueadores con un SPF de 50 filtran alrededor de 98% y los bloqueadores con un SPF de 100 aproximadamente 99%. No hay un bloqueador solar que ofrezca protección total.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title> 5.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Un mayor número de SPF significa más protección contra los rayos UVB (aunque no indica nada sobre la protección contra los rayos UVA) 
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title> 6.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Cuando se aplica correctamente un bloqueador con SPF de 30, usted obtiene el equivalente de un minuto de rayos UVB por cada 30 minutos que pasa bajo el sol. 
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title> 7.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Algunos de los ingredientes en los bloqueados que ayudan a proteger contra los rayos UVA incluyen avobenzona (Parsol 1789), óxido de zinc y dióxido de titanio.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title> 8.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Asegúrese siempre de leer la etiqueta.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title> 9.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Verifique la fecha de vencimiento del bloqueador solar para asegurarse que todavía está vigente. La mayoría de los productos contra el sol tiene una vigencia de por lo menos 2 a 3 años.
    </ion-card-content>
  </ion-card>
  </ion-content>

