<ion-header>
  <ion-button (click)="dismissModal()"> Cerrar
  </ion-button>
</ion-header>
<ion-content>
  <ion-card class="card" color="light">
    <ion-card-title> 1.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Entre las 10:00 a.m. y las 4:00 p.m., la luz ultravioleta es la más intensa.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="dark">
    <ion-card-title>2.
    </ion-card-title>
    <ion-card-content>
      El efecto de las nubes puede variar, pero es importante saber que los rayos UV pueden llegar al suelo, incluso en un día nublado.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title>3.
    </ion-card-title>
    <ion-card-content>
      La vitamina D ofrece muchos beneficios a la salud. Incluso podría ayudar a reducir el riesgo de algunos cánceres. Tu piel produce vitamina D de forma natural cuando se expone al sol. La cantidad de vitamina D que obtienes depende de muchos factores, incluyendo tu edad, cuán oscura es tu piel y cuán intensa es la luz solar en el lugar donde vives.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="dark">
    <ion-card-title>4.
    </ion-card-title>
    <ion-card-content>
      Siempre que sea posible, resulta mejor obtener la vitamina D de tu alimentación o suplementos vitamínicos en lugar de la exposición al sol, ya que las fuentes alimentarias y los suplementos vitamínicos no aumentan el riesgo de cáncer de piel.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="dark">
    <ion-card-title>5.
    </ion-card-title>
    <ion-card-content>
      Si no estás seguro/a de la intensidad de los rayos del sol, haz la prueba de la sombra: si la sombra es más pequeña que tú, los rayos solares son los más intensos, y es importante que te protejas.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="dark">
    <ion-card-title>6.
    </ion-card-title>
    <ion-card-content>
      Ten cuidado cuando te encuentres en la playa o en áreas donde hay nieve, ya que la arena, el agua y la nieve reflejan la luz solar, lo que aumenta la cantidad de radiación UV que recibes.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="dark">
    <ion-card-title>7.
    </ion-card-title>
    <ion-card-content>
      Los rayos UV también pueden atravesar la superficie del agua, de manera que puedes quemarte incluso si te encuentras en el agua.
    </ion-card-content>
  </ion-card>
</ion-content>
