<ion-header>
  <ion-button (click)="dismissModal()"> Cerrar
  </ion-button>
</ion-header>
<ion-content>
  <ion-card class="card" color="light">
    <ion-card-title> 1.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Pasar largas horas en el sol sin proteger sus ojos aumenta sus probabilidades de desarrollar ciertas enfermedades de los ojos.    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title> 2.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Los lentes de sol ideales deben bloquear del 99% al 100% de los rayos UVA y UVB. Antes de comprar lentes de sol, revise la etiqueta para asegurarse de ello.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title> 3.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Las etiquetas que indican “UV absorption up to 400 nm” (absorción de rayos ultravioleta hasta 400 nm), o “Meets ANSI UV Requirements” significa que los lentes bloquean por lo menos el 99% de los rayos UV.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title> 4.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Aquellos cuya etiqueta indica que son de uso “cosmético” bloquean alrededor del 70% de los rayos UV. 
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title> 5.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Los lentes más oscuros no son necesariamente mejores ya que la protección contra los rayos UV proviene de un químico invisible que tienen los lentes o que es aplicado a estos, y no del color o la oscuridad de los mismos. Busque una etiqueta ANSI.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title> 6.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Algunas marcas de anteojos y lentes de contacto ahora también ofrecen protección contra los rayos UV. Pero no asuma que esto es cierto a menos que esté claramente indicado en la etiqueta del producto o lo confirme con su profesional del cuidado de los ojos. 
    </ion-card-content>
  </ion-card>
  </ion-content>
