<ion-header>
  <ion-button (click)="dismissModal()"> Cerrar
  </ion-button>
</ion-header>
<ion-content>
  <ion-card class="card" color="light">
    <ion-card-title> 1.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Cuando lo aplique, preste mucha atención a su cara, orejas, cuello, brazos, y cualquier otra área del cuerpo que no esté cubierta por la ropa. Y no hay que olvidar los labios; también existen bálsamos labiales con protección solar.     </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title> 2.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Ciertos productos cosméticos contienen bloqueador solar, aunque usted debe verificar la información en la etiqueta.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title> 3.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Se recomienda llenar la palma de la mano con el protector solar en crema, esto basta para cubrir los brazos, las piernas, el cuello y la cara de un adulto promedio.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title> 4.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Los bloqueadores solares deben reaplicarse al menos cada dos horas para mantener la protección.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title> 5.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Los bloqueadores solares pueden perder eficacia cuando usted suda o nada y luego los remueve con una toalla.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title> 6.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Los bloqueadores pueden afirmar que son “resistentes al agua”, pero tienen que indicar si protegen la piel durante 40 o 80 minutos de estar nadando o sudando.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title> 7.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Algunos productos con bloqueador solar pueden irritar la piel. Muchos productos afirman ser hipoalergénicos o que han sido sometidos a pruebas dermatológicas, pero la única forma de saber si un producto irritará su piel es probándolo (Una recomendación común es aplicar una pequeña cantidad en la piel del brazo en donde éste se flexiona (la piel en la parte opuesta al codo) por 3 días consecutivos. Si su piel no se enrojece ni presenta sensibilidad o picazón, el producto puede que sea adecuado para usted.). 
    </ion-card-content>
  </ion-card>
  </ion-content>