<ion-header>
  <ion-button (click)="dismissModal()"> Cerrar
  </ion-button>
</ion-header>
<ion-content>
  <ion-card class="card" color="light">
    <ion-card-title> 1.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      La ropa provee diferentes niveles de protección contra los rayos UV. La ropa seca generalmente protege mejor que la ropa mojada.  
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title> 2.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Un sombrero que tenga un ala a su alrededor de por lo menos 2 a 3 pulgadas es ideal ya que protege las áreas que a menudo están expuestas a los intensos rayos del sol, como las orejas, los ojos, la frente, la nariz y el cuero cabelludo.
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-title> 3.
    </ion-card-title>
    <ion-card-content>
      <ion-icon name="sunny-outline" slot="start"></ion-icon>
      Ten presente que cubrirse no bloquea todos los rayos UV. Si puedes ver la luz a través de la tela, los rayos UV también pueden traspasarla.
    </ion-card-content>
  </ion-card>
</ion-content>

